#gameBoard {
	position: relative;
	display: grid;
    grid-gap: 1px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
	width: 600px;
    margin: auto auto;
}

h1{
	text-align: center;
}

#gameBoard > div {
	background-color: #d6d6d6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size; 90px;
}